<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="DOA_Tracker_v3.Properties.Settings.DOAConnectionString"
            connectionString="server=75.134.205.21;user id=eckertmi;password=&quot;P34r1 Smudg3!@&amp;&quot;;persistsecurityinfo=True;port=3306;sshport=22;sshhostname=;sshpassword=;sshusername=;database=DOA"
            providerName="MySql.Data.MySqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>